---
layout: compress
---

<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include header.html %}

<body data-theme="{{ site.mode }}" class="notransition">

  <script>
    const body = document.body;
    const data = body.getAttribute("data-theme");

    const initTheme = (state) => {
      if (state === "dark") {
        body.setAttribute("data-theme", "dark");
      } else if (state === "light") {
        body.removeAttribute("data-theme");
      } else {
        localStorage.setItem("theme", data);
      }
    };

    initTheme(localStorage.getItem("theme"));

    setTimeout(() => body.classList.remove("notransition"), 75);
  </script>
  <script>const whTooltips = { colorLinks: true, iconizeLinks: true, renameLinks: true, iconSize: true, renameLinks: true };</script>
  <script src="https://wow.zamimg.com/widgets/power.js"></script>

  {% include navbar.html %}
  <div class="wrapper">
    <header class="header">
      <h1 class="header-title center" itemprop="headline">{{ page.title | escape }}</h1>
    </header>
    <main class="page-content" aria-label="Content">
      <div class="author">

        <a href="/M+/dungeons/dos">
          <img class="author-avatar" src="/assets/img/dungeons/dos.jpg" />
        </a>

        <a href="/M+/dungeons/sd">
          <img class="author-avatar" src="/assets/img/dungeons/sd.jpg" />
        </a>

        <a href="/M+/dungeons/mots">
          <img class="author-avatar" src="/assets/img/dungeons/mots.jpg" />
        </a>

        <a href="/M+/dungeons/nw">
          <img class="author-avatar" src="/assets/img/dungeons/nw.jpg" />
        </a>

        <a href="/M+/dungeons/hoa">
          <img class="author-avatar" src="/assets/img/dungeons/hoa.jpg" />
        </a>

        <a href="/M+/dungeons/top">
          <img class="author-avatar" src="/assets/img/dungeons/top.jpg" />
        </a>

        <a href="/M+/dungeons/pf">
          <img class="author-avatar" src="/assets/img/dungeons/pf.jpg" />
        </a>

        <a href="/M+/dungeons/soa">
          <img class="author-avatar" src="/assets/img/dungeons/soa.jpg" />
        </a>

        <a href="/M+/dungeons/taz">
          <img class="author-avatar" src="/assets/img/dungeons/taz.jpg" />
        </a>

      </div>
      {% include anchor_headings.html html=content anchorClass="anchor-head" beforeHeading=true h_min=4 h_max=4 %}
      <div>
        <div style="text-align:left;display: inline-block;width: 49%;">
          <a href="/M+/affix">
            < Affix</a>
        </div>
        <div style="text-align:right;display: inline-block;width: 49%;">
          <a href="/M+/weakauras"> Weakauras ></a>
        </div>
      </div>
    </main>
    {% include footer.html %}
  </div>
</body>

</html>
