---
layout: default
home: true
---

<!--
<h3 class="posts-item-note" aria-label="Recent Posts">Recent Posts</h3>
{%- for post in site.posts limit: site.number_of_posts -%}
<article class="post-item">
  <span class="post-item-date">{{ post.date | date: "%b %d, %Y" }}</span>
  <h4 class="post-item-title">
    <a href="{{ post.url }}">{{ post.title | escape }}</a>
  </h4>
</article>
{%- endfor -%}

-->

<div class="row">
  <div class="column" style="text-align:center; width: 45%;">
    9.2 M+ Guide
    <a href="./M+/"><img  src="/assets/img/keystone.png" alt=""></a>
    </div>
    <div class="column" style="text-align:center; align-self:center;">
      Raid
      <a href="./M+/"><img  src="/assets/img/keystone.png" alt=""></a>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
